/* VARS */
:root {
  /* Colors */
  --color-main: #00bcd4;
  --color-sec: #00bcd4;
  /* Spacings */
}

/* PageBased */
.pw {
  /* border: 1px solid blue; */
  min-height: 100vh;
}

.w {
  /* border: 1px solid blue; */
  min-height: 90vh;
}

/* Sectioning */
.s {
  border-bottom: 1px dashed grey;
  min-height: 50vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.c {
  border-left: 1px dashed purple;

  margin-left: auto;
  margin-right: auto;
  margin: auto;

  min-height: 10vh;
  width: 90%;
}

/* Layout */
.fc {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

/* Sections */
.hero {
  /* border: 5px dashed purple; */

  height: 100vh;
}
